.users-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px
}

.new-user{
    width: 240px;
    height: 306px;
    border-color: #d24545;
    border-style: dashed;
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
